.constrained {
  max-width: 67.5rem;
}

.list-style-none {
  list-style-type: none;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-8 {
  margin-top: 4rem;
  /* 64px */
}

.mt-9 {
  margin-top: 5rem;
  /* 80px */
}

@media screen and (min-width: 48rem) {
  .mt-9-ns {
    margin-top: 5rem;
    /* 80px */
  }
}

/* This needs to be included in rich content package */

.rich-content p,
.rich-content ul {
  line-height: 1.7;
}

.rich-content ul {
  margin-top: 0;
}

.rich-content ul li {
  padding-bottom: .25rem;
}

.trail-item::before {
  content: "\2039";
  font-size: 24px;
  top: 2px;
  position: relative;
  display: inline-block;
  color: #9f9f9f;
  padding-right: 0.5rem;
}


.trail button,
.trail .trail-item {
  display: none;
}

.trail-item a::before {
  content: "Back to";
  display: inline-block;
  margin-right: 3.5px;
}

@media screen and (min-width: 48rem) {

  .trail-item::before {
    content: "\203A";
    padding-left: 0.5rem;
  }

  .trail .trail-item,
  .trail button {
    display: inline-block;
  }

  .trail-item a::before {
    display: none;
  }

}

.trail-item:last-child {
  display: inline-block;
}
