.constrained {
  max-width: 67.5rem;
}

.list-style-none {
  list-style-type: none;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.trail-item::before {
  content: "\203A";
  display: inline-block;
  color: #8ac4ff; /* blue-primary */
  padding-left: 0.5rem; /* spacing-2 */
  padding-right: 0.5rem; /* spacing-2 */
}
